.card{
    width: 45%;
    height: 340px;

}
.card img{
    height:200px;
    width: 100%;
    position: absolute;
}
.card>h3{
    font-size: medium;
    position: relative;
    bottom: -50%;
    flex-wrap: wrap;
    width: 300px;
}