.container_collapse_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px auto 0 auto;
  font-size: 25px;
  line-height: 40px;
  @media screen and (max-width: 1024px) {
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
  .collapse {
    width: 90%;
  }
}
.collapse_content {
  p {
    font-size: 1.8rem;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      height: auto;
    }
  }
}
.collapse {
  width: 50%;
  margin: 20px 0;
}
.collapse-page-propos {
  background: #000;
}
