.banner {
    @media screen and (max-width: 768px) {
        height:111px ;
        justify-content: left;
        p{
            font-size: 24px;
            width: 40%;
            margin-left: 5%;
    
        }
    }
}
    