.collapse{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.collapse_content{
    display: flex;
    flex-direction: column;
    z-index: 0;
    width: 90%;
    padding: 5% 0;
    
    background: #F6F6F6;
     li{
        margin-bottom: 3%;
        margin-left:2%;
    }

}
.collapse-container-title-collapse{
    z-index: 10;
    display: flex;
    width:90%;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius:10px;
}
    


.collapse_title{
    color: white;
    margin-left: 2%;
    border: none;
}



