.collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.collapse_content{
    display: flex;
    flex-direction: column;
    z-index: 0;
    width: 90%;
    padding: 2% 0;
    height: 240px;    
    background: #F6F6F6;
     li{
        margin-bottom: 3%;
        margin-left:2%;
    }
    

}
.collapse-container-title-collapse{
    z-index: 10;
    display: flex;
    width:90%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius:10px;
    p{
        margin-right: 3%;
    }

}
    


.collapse_title{
    color: white;
    margin-left: 2%;
    border: none;
}



