.collapse{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.collapse_content{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 90%;
}
.collapse-container-title-collapse{
    display: flex;
    width:90%;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    

}
    


.collapse_title{
    border: none;
}



