.header{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;


}

.header img{
    width: 120px;
    
}
nav{
    width:30%;

}



.liste-menu{
    
    display: flex;
    
}
li{
    
    padding : 0 10%;
    list-style: none;
    list-style-type: none;
    
}
NavLink{
    text-decoration: none;

}

@media screen and (max-width: 885px){
    nav{
        width:60%;
        }
        li{
            margin : 0 2%;
            font-size: 13px ;
        }
        .header{
            width:100%;
        }
 
}