a {
  text-decoration: none;
  color: #ff6060;
}
.header {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

  nav {
    width: 30%;
  }
  img {
    width: 150px;
    margin: 0 10px;
  }
}

.liste-menu {
  display: flex;
  justify-content: flex-end;
}
.header {
  li {
    padding-left: 10%;
  }
  a {
    font-size: larger;
    min-width: 24px;
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 90%;
    nav {
      width: 60%;
    }
    img {
      width: 130px;
    }
    a {
      //make text no wrap
      white-space: nowrap;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
