.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height:209px ;
    gap: 28.556px;
    img {
        color: white;
    
    }
    p{
        color: white;
    }
}