.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/bannerImg.png");
  background-position: center;
  background-size: cover;
  height: 220px;
  width: 90%;
  border-radius: 25px;
  margin: 43px auto;
   p {
    color: white;
    font-size: 3.7rem;
    font-weight: 400;
    text-align: center;
    @media screen and (max-width: 1024px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 768px) {
      text-align: left;
      font-size: 2rem;
    }
  }
}
.banner_about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/aboutcover.png");
  background-position: center;
  background-size: cover;
  height: 220px;
  max-width: 90%;
  margin: 43px auto;
  border-radius: 25px;

}

.banner .banner_about {
  display: flex;
  align-items: center;
  justify-content: center;
}
