.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../styles/img/bannerImg.png");
  background-position: center;
  background-size: cover;
  height: 220px;
  padding: 20px;
  max-width: 95%;
  margin: 43px auto;
}

.banner_about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../styles/img/aboutcover.png");
  background-position: center;
  background-size: cover;
  height: 220px;
  padding: 20px;
  max-width: 95%;
  margin: 43px auto;
}

.banner .banner_about {
  display: flex;
  align-items: center;
  justify-content: center;
}
